@import '../../styles//libs/theme.scss';

.container {
    @extend %container;
    position: relative;
}

.logout_btn {
    position: absolute;
    top: 50px;
    right: 50px;

    @include breakpoint(mobile) {
        right: 25px;
    }
} 