@import '../../styles/libs/theme.scss';

.container {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 50px 100px;
    height: 100vh;
    overflow-y: auto;

    @include breakpoint(tablet_mobile) {
        padding: 50px 25px 100px 25px;
    }
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;

    hr {
        border: 1px solid white;
    }

    a {
        border: none;
        background-color: black;
        text-align: center;
        color: white;
        padding: 10px;
        flex: 1;
    }
}