.container {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 50px 100px;
    height: 100vh;
    overflow-y: auto;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;

    button {
        border: none;
        background-color: rgb(74, 111, 74);
        color: white;
        padding: 10px;
        flex: 1;
    }
}