@import './libs/theme.scss';

html,
body {
    font-family: 'NanumPenScript';
    font-size: 1.2em;
    scroll-behavior: smooth;
    background-color: $background_color;
}

// button font
@font-face {
  font-display: swap;
  font-family: 'vt323';
  src: url('/fonts/VT323-Regular.ttf');
}

// text font
@font-face {
  font-display: swap;
  font-family: 'NanumPenScript';
  src: url('/fonts/NanumPenScript-Regular.ttf');
}


a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: 'vt323';
  padding: 5px;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 0.7em;
  cursor: pointer;
}

input, textarea {
  padding: 5px;
  border-radius: 5px;
  border: 3px solid black;
}

textarea {
  min-width: 200px;
  max-width: 300px;
  max-height: 150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.confirm_btn {
  border: 3px solid black;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 5px 10px;
}