@import './libs/theme.scss';

.container {
    @extend %container;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
}

.google_signin_btn {
    width: 250px;
    cursor: pointer;
}