@import './libs/theme.scss';

.container {
    width: 100%;
}

.reset_btn {
    background-color: crimson;
    color: white;
}

.add_item_btn {
    width: 200px;
    padding: 10px 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile {
    & > h3 {
        margin-bottom: 20px;
    }
}

.orderform_container {
    width: 100%;
}

.initialize_orderform {
    border: 3px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    width: 500px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    & > h2, & > p {
        text-align: center;
    }
}

.orderform{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
}

.delete_orderform_container {
    position: absolute;
    top: 0;
    right: 0;
}

.delete_orderform, .delete_allergy, .delete_category, .delete_item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    & > p {
        text-align: center;
    }
}

.allergy_container, .category_container, .item_container, .business_name {
    border-radius: 15px;
    padding: 20px;
    background-color: $component_color;
}

.business_name {
    align-self: flex-start;
}

.curr_allergy, .new_allergy, .curr_category, .new_category, .select_category, .curr_items, .curr_item_order, .new_item_order {
    display: flex;
    flex-wrap: wrap;

    span {
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
    }
}

.curr_allergy, .curr_category, .curr_items { gap: 20px; }

.new_allergy, .new_category, .select_category, .curr_item_order, .new_item_order { gap: 10px; }

.select_category {
    button {
        padding: 10px 20px;
    }
}

.curr_allergy, .new_allergy {
    span { background-color: rgb(247, 125, 88); }
}

.curr_category, .new_category {
    span { background-color: rgb(54, 90, 168); }
}

.curr_items {
    span { background-color: rgb(82, 87, 80); }
}

.curr_item_order {
    span { 
        cursor: pointer;
        background-color: rgb(152, 72, 158); 
    }
}

.new_item_order {
    span { background-color: rgb(228, 198, 64); }
}

.newItem_form {
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
}