@import './libs/theme.scss';

.container {
    width: 100%;
}

.reset_btn {
    background-color: crimson;
    color: white;
}

.add_item_btn {
    width: 200px;
    padding: 10px 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;

    .profile_btn_group {
        align-self: flex-end;
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.business_name {
    p {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
}

.orderform_container {
    width: 100%;
}

.initialize_orderform {
    border: 3px solid black;
    padding: 20px;
    border-radius: 5px;
    margin-top: 100px;
    width: 500px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    & > h2, & > p {
        text-align: center;
    }
}

.orderform{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
}

.delete_orderform, .delete_allergy, .delete_category, .delete_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    button {
        color: crimson;
        border-color: crimson;
        padding: 5px;
    }

    @include breakpoint(mobile) {
        width: 80vw;
    }
    & > p {
        text-align: center;
    }
}

.allergy_category_container {
    display: flex;
    gap: 10px;
}

.allergy_container, .category_container {
    flex: 1;

    .update_btn {
        width: 100%;
    }
}

.allergy_container, .category_container, .item_container, .business_name {
    // border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: $component_color;
    -webkit-box-shadow: 10px 10px 12px -4px rgba(173,173,173,1);
    -moz-box-shadow: 10px 10px 12px -4px rgba(173,173,173,1);
    box-shadow: 10px 10px 12px -4px rgba(173,173,173,1);
}

.business_name {
    align-self: flex-start;
}

.curr_allergy, .curr_category {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.update_allergy, .update_category {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
    border-radius: 5px;
}

.new_allergy, .new_category {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add_allergy, .add_category {
    display: flex;
    gap: 5px;
    
    input {
        flex: 1;
    }
}

.manage_items {
    border: 3px solid black;
    padding: 20px;
    border-radius: 5px;
}
.select_category {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    button {
        padding: 5px 20px;
    }
}

.curr_items {
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    .item_wrapper {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        gap: 10px;
        border-radius: 5px;
    }

    .update_btn {
        padding: 0;
        border: none;
    }
    .update_btn:hover {
        text-decoration: underline;
    }
}

.newItem_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item_basic_info, .item_allergy {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 5px;

    .input_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

.allergy_list {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: white;
    overflow-y: auto;
    border: 3px solid black;
    padding: 20px;
}

.curr_item_order {
    .item_wrapper { 
        cursor: pointer;
    }
}

.newItem_form {
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
}