@import './libs/theme.scss';

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > h1 {
        margin-bottom: 50px;
    }
}

.back_btn {
    position: fixed;
    top: 50px;
    left: 50px;
}

.orderform_container {
    margin-top: 20px;
}

.orderform_form {
    margin-top: 30px;
}

.category, .filter, .item {
    width: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    & > h3 {
        margin-bottom: 10px;
    }
}

.currCategories, .newCategories, .currFilters, .newFilters, .select_category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.newCategories, .newFilters {
    & > span {
        color: blue;
    }
}