.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_container, .menu_container, .order_container {
    width: 600px;
}

.category, .menu, .order {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu_container, .order_container {
    margin-top: 100px;
}

.order {
    flex-direction: column;
}