.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place_order {
    display: flex;
    gap: 10px;
}

.filter {
    margin-top: 30px;
}

.keyword_container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category_container, .menu_container, .order_container, .filter_container {
    margin-top: 100px;
    width: 600px;
}

.category, .menu, .order {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu_container, .order_container {
    margin-top: 100px;
}

.order {
    flex-direction: column;
}

.order_item {
    display: flex;
    gap: 10px;
    align-items: center;
}