.orderform {
   
}

.category_container, .item_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category_container {
    button {
        width: 200px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        border: none;
        padding: 15px;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.item {
    display: flex;
    align-items: center;
    background-color: #e2e2e2;
    padding: 10px;
}
