@import './libs/theme.scss';

.container {
    @extend %container;
}

.signup_form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 1px solid black;
    padding: 20px;

    input {
        padding: 5px;
    }
}