@import './libs/theme.scss';

.create_or_clear {
    display: flex;
    gap: 20px;
}

.create_new_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.curr_tables {
    background-color: $component_color;
    border-radius: 5px;
    padding: 20px;
}

.table_container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: center;
    }
}

.remove_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.table_wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table {
    cursor: pointer;
    position: relative;
    border: 3px solid black;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(134, 82, 58);
    
    span {
        color: white;
    }
}

.table_number, .num_party, .arrival, .status {
    position: absolute;
}

.table_number {
    top: 5px;
    left: 5px;
}

.num_party {
    top: 5px;
    right: 5px;
}

.arrival {
    bottom: 5px;
    left: 5px;
}

.status {
    top: 0px;
    right: -40px;
}

.clear_tables {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.table_status_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 500px;
    overflow-y: auto;
    padding: 0px 10px 10px 10px;

    @include breakpoint(mobile) {
        width: 80vw;
        height: 80vh;
    }
}

.table_status {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order_status {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}